@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
margin:0;
overflow-x: hidden; /*getting rid of horizonal scroll bar*/
font-family: Lato, sans-serif; /*sans-serif is a backup in this case*/
color: #54575A;
background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper {
    position: relative;
    width: 1440px;
    height: 1379px;
    margin: auto;
}

.brand-img {
    position: absolute;
    width: 193px;
    height: 47.64px;
    left: 221px;
    top: 50.25px;
}

.title {
    position: absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 236px;

    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 68px;
}

.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn {
    position: absolute;
    width: 138.44px;
    height: 46.28px;
    left: 221px;
    top: 531px;
}

.app-store-btn img {
    width: 138.44px;
    height: 46.28px;
}


.google-play-btn {
    position: absolute;
    width: 156.19px;
    height: 46.28px;
    left: 381.81px;
    top: 531px; 
}

.google-play-btn img {
    width: 156.19px;
    height: 46.28px;
}

.main-image-container {
    position: absolute;
    width: 535.72px;
    height: 309.27px;
    left: 683.28px;
    top: 229.73px;
}

.main-image-container img {
    height: 411.15px;
}

.profile-img {
    position: absolute;
    height: 444px;
    left: 737px;
    right: 479px;
    top: 686px;
}

.order-img {
    position: absolute;
    height: 470px;
    left: 479px;
    right: 737px;
    top: 913px;
}

.home-img {
    position: absolute;
    height: 470px;
    left: 995px;
    right: 221px;
    top: 908px;
}

.cart-img {
    position: absolute;
    height: 222px;
    left: 221px;
    right: 995px;
    top: 1157px;
}

.product-img {
    position: absolute;
    height: 222px;
    left: 737px;
    right: 479px;
    top: 1157px;
}

/* Backgound Toggles*/
.background-toggles {
    position: absolute;
    right: 150px;
    top: 70px;
    display: flex;
}

.background-toggles > div {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3); 
    /*offset-x | offset-y | blur-radius | spread-radius | color */
    cursor: pointer;
}

.background-1 {
    background-color: #f1f0f1;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23d5d5d5' fill-opacity='0.45' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.background-2 {
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-3 {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8e9eab,#eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


